# app.
APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=

BCRYPT_ROUNDS=

# log
LOG_CHANNEL=

# database
DB_CONNECTION=
POSTGRES_URL_NON_POOLING=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=

# aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_USE_PATH_STYLE_ENDPOINT=

DYNAMODB_ENDPOINT=

# basic auth
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

# port
APP_PORT=
DB_HOST_PORT=
